.edit-mode {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.preview-panel {
  flex: 1;
  overflow: hidden;
}

.properties-panel {
  width: 300px;
  height: 100%;
  background-color: #ebf3f2;
  padding: 20px;
  overflow-y: auto;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.preview-panel:fullscreen {
  cursor: none;
}